body {
	margin: 0;
}
#head {
	text-align: center;
}
.canv {
	border: 1px solid black;
	position: absolute;
}
#canv1 {
	z-index: 1;
}
#canv2 {
	z-index: 0;
}
#cOut {
	width: 520px;
	height: 520px;
	margin: auto;
	right:0;left:0;bottom:0;top:0;
}
